:root {
    --whiteSmoke: whitesmoke;

    --bg-1: #f4f1f1;

    --golden-1: #967F71;
    --golden-2: #D9C2B6;
    --golden-2-hover: #b89b8b;
    --dark: black;
    --dark-more:#1c2028;
    --dark-mode-black:#282c34;
}