.tab-nav {
    position: relative;
    color: gray;
    overflow: hidden;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

.tab-nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: gray;
    transition: width 0.3s ease;
}

.tab-nav:hover::before,
.tab-nav.active::before {
    width: 100%;
}

.active .tab-nav {
    color: var(--golden-1);
}