#freeShippingBanner {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #d9c2b6 0%, #ede4df 90%, #ffffff 100%);
  box-shadow: 0 0 2px whitesmoke;
  padding: 20px;
  text-align: center;
}

#freeShippingBanner span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 2.18rem;
  animation: shake 0.5s infinite alternate;
}

@keyframes shake {
  to {
    transform: translateY(5px);
    /* Légère secousse vers la droite */
  }
}
